@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .main {
    @apply items-center justify-center bg-[#F5F5F5] w-screen flex flex-col;
  } */
  .mainHeight {
    /* height: 100%; */
    width: 100%;
    background: #F4F2FF;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .innerContainer {
    @apply w-full h-screen max-w-[420px] sm:max-h-[90vh] sm:max-w-[390px] bg-[#7264E4];
  }
  .innerContainerWhite {
    @apply w-full h-screen max-w-[420px] sm:max-w-[390px] relative sm:max-h-[90vh]  max-h-[844px] bg-red-500;
  }
  .button {
    @apply bg-white hover:bg-[#5e53b5] hover:border hover:border-black hover:text-black hover:bg-blend-darken w-full text-xl h-[45px] font-semibold text-white rounded-sm transition-all duration-200 cursor-pointer;
  }

  .text {
    @apply text-black text-lg font-sans;
  }

  .label {
    @apply text-black font-bold text-xl font-sans mt-6 mb-3;
  }

  .input {
    @apply min-h-[50px] w-full border border-gray-300 rounded-sm pl-4 outline-black;
  }
  .selectCatogoryButton {
    @apply cursor-pointer transition-all duration-200 min-h-[59px] rounded-full w-full border border-black text-black hover:text-white hover:bg-black pl-3 flex items-center mb-5;
  }

  .selectCatogoryText {
    @apply text-lg font-sans font-semibold;
  }
}
